     * {
        margin: 0;
        }
    body {
        font-family: Arial;
        }
    #head1 {
        width: 55%;
        float: right;
        margin: 60px auto;
        }
    h1 {
        font-size: 40px;
        text-transform: uppercase;
    }
    nav ul {
        position: relative;
        list-style-type: none;
        width: 100%;
        height: 50px;
        text-align: center;
        background-color: #4d4d53;
        border: 3px solid #000000;
        padding: 0;
    }
    nav li a {
        float: left;
	    width: 33.3%;
	    height: 100%;
        display: block;
	    line-height: 50px;
        color: white;
        font-weight: bold;
        font-size: 26px;
        text-decoration: none;
    }
    nav li a:hover {
        background-color: #0000cd;
    }
    nav li a:active {
        color: #da0a0a;
        text-decoration: underline;
    }
    #red {
        color: #ff0000;
    }
    aside {
        text-align: center;
        float: right;
        width: 30%;
        height: 1272px;
        background-color:  #4d4d53;
        padding-top: 10px;
    }
    #nav2 {
        width: 100%;
        height: 310px;
    }
    #nav2 ul {
        list-style-type: circle;
        text-align: center;
        margin: 2px 0;
    }
    #nav2 ul li a{
        font-family: 'Merriweather', serif;
        height: 35px;
        margin: 7px 0;
        padding: 7px 20px;
        display: block;
        text-align: left;
    }
    h3 {
        text-transform: uppercase;
        font-size: 16px;
        padding:4px 5px;
    }
    .favpage ul {
        height: 800px;
        margin: 4px 0;
    }
    .favpage img {
        display: none;
        width: 45px;
        height: 45px;
    }
    .favpage a:hover img {
        display: inline;
    }
    .favpage a:link {
        color: #000000;
        font-weight: bold;
        text-decoration: none;
    }
    .favpage a:visited {
        color: #120366;
        text-decoration: none;
    }
    .favpage a:hover {
        color: #ffffff;
        text-decoration: underline;
    }
    .favpage a:active {
        color: #a80202;
        font-size: 22px;
        text-decoration: none;
    }
    iframe {
        width: 100%;
        height: 434.5px;
    }
    main {
        position: absolute;
        float: left;
        width: 70%;
        height: 960px;
        background-color: #ffffff;
    }
    article {
        width: calc(100% - 24px);
        height: 460px;
        text-align: center;
        font-size: 20px;
        font-family: 'Nunito', sans-serif;
        color: #ece6e6;
        background-color: #000000;
        padding: 12px;
    }
    #img_art {
        float: left;
        max-width: 35%;
    }
    article h2 {
        font-size: 38px;
        font-family: 'Merriweather', serif;
        margin: 20px 0;
    }
    section {
        width: 100%;
    }
    #forma {
        margin:0 4px;
        font-family: 'Merriweather', serif;
    }
    .left {
        width: 49%;
        height:470px;
        float: left;
        margin: 2px;
    }
    .flrightimg {
        float: right;
        max-height: 110px;
        transition: transform .2s; /* Animation for zoom */
    }
    .flrightimg:hover {
        transform: scale(3.0); /* 300% zoom */
    }
    .fieldset1 {
        height: 135px;
    }
    #fieldset2 {
        height: 80px;
    }
    #fieldset3 {
        height: 190px;
    }
    #flsubmit {
        float: right;
        margin-right: 12px;
    }
    #vidaud {
        width: calc(100% - 8px);
        margin:4px 4px;
    }
    #audiopicture {
        float: left;
        width: 50%;
        height: 245px;
        background: url("css_images/juve.jpg");
        border-radius: 15px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    audio {
        padding-top: 220px;
        width: 100%;
    }
    #video_juve {
        float: right;
        height: 252px;
        width: 50%;
        background-color: #000000;
        border-radius: 15px;
    }
    video{
        height: 100%;
        width: 100%;
    }
    footer {
        position: absolute;
        width: 100%;
        color: #ffffff;
        background-color: #4d4d53;
        text-align: center;
        font-family: 'Merriweather', serif;
        font-size: 16px;
        margin-top: 1282px;
    }
    